button {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.flex-centered {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.flex-centered-column {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

@media (min-width: 576px) {
  .sm-flex-centered {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
}

@media (min-width: 576px) {
  .sm-flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

@media (min-width: 768px) {
  .md-flex-centered {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  .lg-flex-centered {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  .lg-flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

h1 {
  margin: unset;
}

h2 {
  margin: unset;
}

h3 {
  margin: unset;
}

h4 {
  margin: unset;
}

h5 {
  margin: unset;
}

h6 {
  margin: unset;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 570px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 760px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1195px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1590px;
  }
}

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  color: #14ba83;
}

.header h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.header .line {
  width: 70px;
  height: 3px;
  background: #14ba83;
}

@media (min-width: 576px) {
  .header .line {
    width: 78px;
  }
}

.header .line-behind {
  margin-left: 15px;
}

.header .line-before {
  margin-right: 15px;
}

.img-wrapper {
  position: relative;
  padding: 16px;
}

.img-wrapper .img {
  box-shadow: 31px 26px 40px rgba(0, 0, 0, 0.2);
}

.img-wrapper .square {
  position: absolute;
  top: 0;
  left: 0;
  border: 8px solid #14ba83;
  width: 52px;
  height: 52px;
}

#nav {
  position: absolute;
  width: 100%;
  height: 80px;
  background: transparent;
}

@media (min-width: 992px) {
  #nav {
    box-shadow: 0 28px 29px rgba(0, 0, 0, 0.06);
  }
}

#nav #collapse {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  background: #fff;
  -webkit-transition: max-height .3s, opacity .3s;
  transition: max-height .3s, opacity .3s;
  opacity: 0;
  z-index: 1;
}

@media (min-width: 992px) {
  #nav #collapse {
    position: static;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    padding-bottom: unset;
    height: 100%;
    opacity: 1 !important;
  }

  #nav #collapse.active {
    box-shadow: unset !important;
  }
}

#nav #collapse.active {
  opacity: 1;
  box-shadow: 0 40px 35px rgba(0, 0, 0, 0.11);
}

#nav #collapse.active .a {
  visibility: visible;
}

#nav .a {
  margin: 40px 0 0 0;
  color: black;
  -webkit-transition: color .2s;
  transition: color .2s;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  visibility: hidden;
}

@media (min-width: 576px) {
  #nav .a {
    margin: 45px 0 0 0;
  }
}

@media (min-width: 992px) {
  #nav .a {
    margin: 0 34px;
    visibility: visible !important;
  }
}

@media (min-width: 1200px) {
  #nav .a {
    margin: 0 38px;
  }
}

#nav .a:hover {
  color: #14ba83;
}

#nav .a:first-child {
  margin-top: 80px;
}

@media (min-width: 992px) {
  #nav .a:first-child {
    margin-top: unset;
  }
}

#nav .a:last-child {
  padding-bottom: 25px;
  margin-bottom: 25px;
}

@media (min-width: 576px) {
  #nav .a:last-child {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  #nav .a:last-child {
    padding-bottom: unset;
    margin-bottom: unset;
  }
}

#nav #hamburger {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  height: 50px;
  width: 50px;
  z-index: 2;
}

@media (min-width: 768px) {
  #nav #hamburger {
    right: 30px;
  }
}

@media (min-width: 992px) {
  #nav #hamburger {
    display: none;
  }
}

#nav #hamburger-inner {
  position: relative;
  width: 40px;
  height: 2px;
  border-radius: 4px;
  background: #fff;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#nav #hamburger-inner::before {
  content: '';
  position: absolute;
  top: -11px;
  width: 40px;
  height: 2px;
  border-radius: 4px;
  background: #fff;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#nav #hamburger-inner::after {
  content: '';
  position: absolute;
  top: 11px;
  width: 40px;
  height: 2px;
  border-radius: 4px;
  background: #fff;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

#nav #hamburger-inner.active {
  background: #14ba83;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#nav #hamburger-inner.active::before {
  background: #14ba83;
  -webkit-transform: rotate(90deg) translateX(11px);
          transform: rotate(90deg) translateX(11px);
}

#nav #hamburger-inner.active::after {
  background: #14ba83;
  opacity: 0;
}

.claim {
  position: relative;
}

@media (min-width: 992px) {
  .claim {
    padding-top: 80px;
  }
}

.claim .img {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 992px) {
  .claim .img {
    position: absolute;
    right: 0;
    top: 80px;
    width: 60vw;
    -webkit-box-ordinal-group: 3;
            order: 2;
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .claim .img {
    width: 50vw;
  }
}

.claim .block-text {
  margin-top: -8px;
  padding: 50px 0;
  background: #14ba83;
  color: #fff;
}

@media (min-width: 576px) {
  .claim .block-text {
    padding: 60px 0;
  }
}

@media (min-width: 768px) {
  .claim .block-text {
    padding: 70px 0;
  }
}

@media (min-width: 992px) {
  .claim .block-text {
    align-self: stretch;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
            align-items: center;
    margin-top: unset;
    padding: unset;
    width: 100%;
    height: calc(60vw * 0.5396);
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
}

@media (min-width: 1200px) {
  .claim .block-text {
    height: calc(50vw * 0.5396);
  }
}

@media (min-width: 992px) {
  .claim .block-text .container {
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .claim .block-text .container {
    padding-left: 200px;
  }
}

.claim .h1 {
  display: inline-block;
  background: #14ba83;
  font-size: 34px;
  font-weight: 700;
}

@media (min-width: 992px) {
  .claim .h1 {
    position: relative;
    padding: 3px 15px 3px 0;
    z-index: 2;
  }
}

@media (min-width: 1200px) {
  .claim .h1 {
    font-size: 38px;
  }
}

.claim .h2 {
  display: inline-block;
  margin-top: 5px;
  font-size: 24px;
  font-weight: 400;
}

@media (min-width: 992px) {
  .claim .h2 {
    margin-top: unset;
    padding: 3px 15px 3px 0;
    position: relative;
    z-index: 2;
    background: #14ba83;
  }
}

@media (min-width: 1200px) {
  .claim .h2 {
    font-size: 28px;
  }
}

.claim .btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 18px;
  border: unset;
  background: #fff;
  color: #14ba83;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

@media (min-width: 992px) {
  .claim .btn {
    padding: 15px 20px;
  }
}

.claim .btn:focus {
  outline: 2px solid #b9bbbe;
}

.about {
  padding: 50px 0;
  letter-spacing: 0.6px;
}

@media (min-width: 1200px) {
  .about {
    padding: 80px 0;
  }
}

@media (min-width: 1200px) {
  .about .container {
    max-width: 1195px;
  }
}

@media (min-width: 768px) {
  .about .img-outer {
    width: calc(50% - 20px);
  }
}

@media (min-width: 992px) {
  .about .img-outer {
    width: calc(50% - 40px);
  }
}

@media (min-width: 1200px) {
  .about .img-outer {
    width: 408px;
  }
}

.about .img {
  width: 100%;
  max-width: 392px;
}

@media (min-width: 768px) {
  .about .gap {
    width: 20px;
  }
}

@media (min-width: 992px) {
  .about .gap {
    width: 40px;
  }
}

@media (min-width: 1200px) {
  .about .gap {
    width: 50px;
  }
}

.about .block-text {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .about .block-text {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .about .block-text {
    width: calc(100% - 458px);
  }
}

.about .header {
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.about h2 {
  font-weight: 700;
  text-align: left;
}

.about p {
  margin-top: 10px;
  font-size: 14px;
  text-align: justify;
  -moz-text-align-last: left;
       text-align-last: left;
  line-height: 26px;
}

.about p:last-of-type {
  margin-top: 30px;
}

.claim-opinions {
  padding: 50px 0 150px 0;
  background: #000;
}

@media (min-width: 768px) {
  .claim-opinions {
    padding: 60px 0 160px 0;
  }
}

.opinions .container {
  margin-top: -100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

@media (min-width: 992px) {
  .opinions .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .opinions .container {
    max-width: 1112px;
  }
}

.opinions .md-row {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .opinions .md-row {
    width: 100%;
    -webkit-box-align: start;
            align-items: flex-start;
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .opinions .md-row {
    margin-bottom: unset;
  }
}

.opinions .md-row:last-of-type {
  margin-bottom: unset;
}

@media (min-width: 992px) {
  .opinions .md-row {
    width: calc(50% - 7.5px);
  }
}

@media (min-width: 1200px) {
  .opinions .md-row {
    width: calc(50% - 15px);
  }
}

@media (min-width: 992px) {
  .opinions .gap {
    width: 15px;
  }
}

@media (min-width: 1200px) {
  .opinions .gap {
    width: 30px;
  }
}

.opinions .img {
  box-shadow: 31px 26px 40px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
  width: 100%;
  max-width: 260px;
}

@media (min-width: 768px) {
  .opinions .img {
    margin-bottom: unset;
    width: calc(50% - 7.5px);
  }
}

@media (min-width: 1200px) {
  .opinions .img {
    width: 248px;
  }
}

.opinions .img-last {
  margin-bottom: unset;
}

@media (min-width: 768px) {
  .opinions .gap-img {
    width: 30px;
  }
}

@media (min-width: 992px) {
  .opinions .gap-img {
    width: 15px;
  }
}

@media (min-width: 1200px) {
  .opinions .gap-img {
    width: 30px;
  }
}

.counters {
  padding: 60px 0 50px 0;
}

@media (min-width: 576px) {
  .counters {
    padding: 70px 0 60px 0;
  }
}

@media (min-width: 992px) {
  .counters {
    padding: 100px 0 60px 0;
  }
}

@media (min-width: 1200px) {
  .counters {
    padding: 120px 0 60px 0;
  }
}

.counters .counters-wrapper {
  margin-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

@media (min-width: 992px) {
  .counters .counters-wrapper {
    margin-top: 90px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

.counters .article {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-bottom: 50px;
  border: 1px solid #eee;
  max-width: 352px;
  height: 176px;
  width: 100%;
  text-align: center;
}

@media (min-width: 576px) {
  .counters .article {
    margin-bottom: 60px;
  }
}

@media (min-width: 992px) {
  .counters .article {
    margin-bottom: unset;
    width: calc(33.33% - 10px);
  }
}

@media (min-width: 1200px) {
  .counters .article {
    width: 352px;
  }
}

.counters .article:last-child {
  margin-bottom: unset;
}

@media (min-width: 992px) {
  .counters .gap {
    width: 15px;
  }
}

@media (min-width: 1200px) {
  .counters .gap {
    width: 20px;
  }
}

.counters .img {
  position: absolute;
  top: -20px;
  left: 50%;
  padding: 0 12px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  z-index: 1;
}

.counters .counter {
  font-size: 48px;
  font-weight: 700;
  color: #14ba83;
}

.counters .caption {
  margin-top: -5px;
  font-size: 18px;
  font-weight: 700;
}

.trading-belt {
  padding: 30px 0;
}

@media (min-width: 1600px) {
  .trading-belt {
    padding: 40px 0;
  }
}

@media (min-width: 1200px) {
  .trading-belt .container {
    max-width: 1150px;
  }
}

.start-earning {
  padding: 50px 0 60px 0;
}

@media (min-width: 576px) {
  .start-earning {
    padding: 50px 0 70px 0;
  }
}

@media (min-width: 768px) {
  .start-earning {
    padding: 50px 0 80px 0;
  }
}

@media (min-width: 992px) {
  .start-earning {
    padding: 50px 0 110px 0;
  }
}

@media (min-width: 1200px) {
  .start-earning {
    padding: 50px 0 120px 0;
  }
}

@media (min-width: 1200px) {
  .start-earning .container {
    max-width: 1150px;
  }
}

.start-earning .block-text {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .start-earning .block-text {
    margin-top: 40px;
  }
}

@media (min-width: 992px) {
  .start-earning .block-text {
    margin-top: 50px;
    width: calc(50% - 15px);
  }
}

@media (min-width: 1200px) {
  .start-earning .block-text {
    margin-top: 60px;
    width: calc(100% - 653px);
  }
}

.start-earning p {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.35px;
  text-align: justify;
  -moz-text-align-last: left;
       text-align-last: left;
}

.start-earning #form {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
          align-items: flex-start;
  margin-top: 20px;
  height: 45px;
}

@media (min-width: 576px) {
  .start-earning #form {
    margin-top: 25px;
  }
}

@media (min-width: 1200px) {
  .start-earning #form {
    margin-top: 30px;
    height: 48px;
  }
}

.start-earning .input {
  padding: 10px 20px 10px 50px;
  border: 1px solid #eee;
  width: calc(100% - 95px);
  height: 100%;
  background-color: #f9f9f9;
  -webkit-transition: border .05s;
  transition: border .05s;
  font-size: 14px;
}

@media (min-width: 576px) {
  .start-earning .input {
    width: auto;
  }
}

.start-earning .input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}

.start-earning .input::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

.start-earning .input:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}

.start-earning .input:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

.start-earning .input:focus {
  outline: none;
  border: 1px solid #14ba83;
}

.start-earning .error {
  border: 1px solid #ff5d73;
}

.start-earning .label {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.start-earning .label path {
  fill: #14ba83;
}

.start-earning #submit-btn {
  margin-left: 15px;
  padding: 2px 16px 0 16px;
  text-transform: uppercase;
  width: 90px;
  height: 100%;
  border: unset;
  background: #14ba83;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

@media (min-width: 576px) {
  .start-earning #submit-btn {
    width: auto;
    padding: 2px 35px 0 35px;
  }
}

@media (min-width: 992px) {
  .start-earning #submit-btn {
    padding: 2px 25px 0 25px;
    letter-spacing: 1.92px;
  }
}

@media (min-width: 1200px) {
  .start-earning #submit-btn {
    padding: 2px 30px 0 30px;
  }
}

.start-earning #submit-btn:focus {
  outline: 2px solid #12a373;
}

@media (min-width: 992px) {
  .start-earning .gap {
    width: 30px;
  }
}

.start-earning .block-img {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .start-earning .block-img {
    margin-top: 40px;
  }
}

@media (min-width: 992px) {
  .start-earning .block-img {
    width: calc(50% - 15px);
  }
}

@media (min-width: 1200px) {
  .start-earning .block-img {
    width: 613px;
  }
}

.start-earning .img-wrapper {
  max-width: 304px;
}

@media (min-width: 576px) {
  .start-earning .img-wrapper {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .start-earning .img-wrapper {
    width: 304px;
    height: 410px;
  }
}

@media (min-width: 992px) {
  .start-earning .img-wrapper {
    width: 50%;
    height: unset;
  }
}

@media (min-width: 1200px) {
  .start-earning .img-wrapper {
    width: 304px;
    height: 410px;
  }
}

.start-earning .img-wrapper-second {
  margin-top: 30px;
}

@media (min-width: 576px) {
  .start-earning .img-wrapper-second {
    margin-top: unset;
  }
}

.start-earning .img {
  width: 100%;
}

.start-earning .square-first {
  top: unset;
  bottom: 6px;
}

.start-earning .square-second {
  left: unset;
  right: 0;
}

.footer {
  padding: 60px 0 50px 0;
  background: #14ba83;
  color: #fff;
}

@media (min-width: 1200px) {
  .footer .container {
    max-width: 1150px;
  }
}

@media (min-width: 500px) {
  .footer .block-trading {
    width: 470px;
  }
}

@media (min-width: 992px) {
  .footer .gap {
    width: 40px;
  }
}

@media (min-width: 1200px) {
  .footer .gap {
    width: 60px;
  }
}

@media (min-width: 1600px) {
  .footer .gap {
    width: 70px;
  }
}

.footer .block-text {
  margin-top: 30px;
}

@media (min-width: 576px) {
  .footer .block-text {
    margin-top: 40px;
  }
}

@media (min-width: 992px) {
  .footer .block-text {
    margin-top: unset;
    width: calc(100% - 510px);
  }
}

@media (min-width: 1200px) {
  .footer .block-text {
    width: calc(100% - 540px);
  }
}

.footer .h2 {
  font-weight: 400;
  font-size: 24px;
}

.footer .p {
  font-size: 14px;
  font-weight: 400;
  -moz-text-align-last: left;
       text-align-last: left;
  text-align: justify;
  line-height: 26px;
  letter-spacing: 0.35px;
}

.footer .p:first-of-type {
  margin-top: 10px;
}

.footer .p:last-of-type {
  margin-top: 40px;
}

.footer .tradingview-widget-container {
  width: 100% !important;
  max-width: 470px;
}

.footer .tradingview-widget-container iframe {
  width: 100% !important;
  max-width: 470px;
}

.footer .tradingview-widget-copyright {
  color: #fff !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #000;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

