.opinions {
  .container {
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (min-width: 992px) {
      flex-direction: row;
    }

    @media (min-width: 1200px) {
      max-width: 1112px;
    }
  }

  .md-row {
    @media (min-width: 768px) {
      margin-bottom: 30px;
    }

    @media (min-width: 992px) {
      margin-bottom: unset;
    }

    &:last-of-type {
      margin-bottom: unset;
    }

    @media (min-width: 992px) {
      width: calc(50% - 7.5px);
    }

    @media (min-width: 1200px) {
      width: calc(50% - 15px);
    }
  }

  .gap {
    @media (min-width: 992px) {
      width: 15px;
    }

    @media (min-width: 1200px) {
      width: 30px;
    }
  }

  .img {
    box-shadow: 31px 26px 40px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;

    @media (min-width: 768px) {
      margin-bottom: unset;
    }

    @media (min-width: 992px) {
      width: calc(50% - 7.5px);
    }

    @media (min-width: 1200px) {
      width: 248px;
    }
  }

  .img-last {
    margin-bottom: unset;
  }

  .gap-img {
    @media (min-width: 768px) {
      width: 30px;
    }

    @media (min-width: 992px) {
      width: 15px;
    }

    @media (min-width: 1200px) {
      width: 30px;
    }
  }
}
