@import "variables";
@import "global/buttons";
@import "global/flex";
@import "global/headers";
@import "components/container";
@import "includes/nav";
@import "includes/claim";

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

  height: 300vh;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
